---
import Navbar from "../components/main/Navbar.astro";
import "../styles/global.css";

interface Props {
	title?: string;
	description?: string;
	image?: string;
	canonicalURL?: string;
}

const {
	title = "RN Neo - Neobrutalism for React Native",
	description = "A high-performance, neobrutalism-inspired UI library for React Native, built with React Native Reanimated.",
	image = "/rn-neo-cover.png",
	canonicalURL = Astro.url.href,
} = Astro.props;

const siteName = "RN Neo";
const twitterHandle = "@gs_rumana"; // Optional: Update if different
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />

		<!-- Primary Meta Tags -->
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<link rel="canonical" href={canonicalURL} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={new URL(image, Astro.url)} />
		<meta property="og:site_name" content={siteName} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={new URL(image, Astro.url)} />
		{twitterHandle && <meta property="twitter:site" content={twitterHandle} />}
	</head>
	<body>
  <main class="overflow-x-hidden">
    <Navbar />
		<slot />
  </main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
